* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: black;
}

body {
  margin: 0;
}

a {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#logo {
  height: 40px;
}

.menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}

header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav {
  display: none;
}

#hero {
  background-image: url(img/intro.jpg);
  height: 500px;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button {
  border: 1px solid;
  background-color: white;
  color: #374a67;
  border-radius: 8px;
  font-weight: normal;
  padding: 10px 20px;
  transition: all 0.7s ease-in-out;
}

.button:hover {
  background-color: #374a67;
  color: white;
}

@media (min-width: 1024px) {
  button {
    display: none;
  }
  nav {
    display: block;
  }
  .row {
    display: flex;
    gap: 16px;
  }
}

.group {
  text-align: center;
}

.card {
  border: 1px solid gray;
}

.card img {
  width: 100%;
}
